[Unit]
Description=Backup MongoDB desde contenedor Docker
Wants=backup-mongo.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup-mongo.sh
User=root
